{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Registro de empleados</title>
    <link rel="stylesheet" href="{% static 'empleados/tabla_empleados_style.css' %}">
  </head>
  <body>
    <div id="controles_empleados">
      <a href="{% url 'empleados:registrar_empleado' %}">
    <button id="btn_registrar">Registrar Empleado</button>
</a>
      <button id="btn_modificar">Modificar Empleado</button>
      <button id="btn_eliminar">Eliminar Empleado</button>
      <input type="text" id="campo_buscar" placeholder="Buscar por ID o Nombre..." />
      <button id="btn_buscar">Buscar</button>
    </div>
    <!-- tabla_empleados: Tabla dinamica para empleados-->
    <table id="tabla_empleados" class="display">
      <thead>
        <tr>
          <!--Encabezados, no dinamicos-->
          <th>ID</th>
          <th>Nombre</th>
          <th>Cargo</th>
          <th>Salario diario</th>
          <th>Dias laborados por semana</th>
          <th>Dias vacacion</th>
          <th>Recargo vacacional</th>
          <th>Dias aguinaldo anual</th>
          <th>Eficiencia</th>
          <th>Costo real ajustado</th>
          <th>Salario bruto</th>
          <th>Total deducciones</th>
          <th>Pago liquido</th>
        </tr>
      </thead>
      <tbody>
        {% for empleado in empleados %}
        <tr>
          <td>{{ empleado.id }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.cargo }}</td>
          <td>{{ empleado.salario_diario }}</td>
          <td>{{ empleado.dias_laborados_semana }}</td>
          <td>{{ empleado.dias_vacaciones_anual }}</td>
          <td>{{ empleado.recargo_vacaciones }}</td>
          <td>{{ empleado.dias_aguinaldo_anual }}</td>
          <td>{{ empleado.eficiencia}}</td>
          <td>{{ empleado.costo_real_hora_ajustado }}</td>
          <td>{{ empleado.salario_bruto_mensual_calculado }}</td>
          <td>{{ empleado.total_deducciones_mensual }}</td>
          <td>{{ empleado.pago_liquido_mensual }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="13">No hay empleados registrados</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
