<div class="px-3 py-2 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            
            <!-- Logo y Título -->
            <a href="/" class="d-flex align-items-center text-white text-decoration-none me-4">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
                <span class="fs-4">Knight Solutions</span>
            </a>
            
            <!-- Menú de Navegación -->
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                
                <!-- Menú Inicio -->
                <li class="nav-item">
                    <a href="{% url 'periodo_contable' %} " class="nav-link text-white">
                        periodo_contable
                    </a>
                </li>

                <!-- Menú Catálogo de Cuentas -->
                <li class="nav-item">
                    <a href="{% url 'catalogo_cuentas' %} " class="nav-link text-white">
                        Catálogo de Cuentas
                    </a>
                </li>

                <!-- Menú Transacciones -->
                <li class="nav-item">
                <a href="{% url 'transacciones' %}" class="nav-link text-white">
                    Transacciones</a>
                </li>

                <!-- Menú Libro Mayor -->
                <li class="nav-item">
                    <a href=" " class="nav-link text-white">
                        Libro Mayor
                    </a>
                </li>

                <!-- Menú Estados Financieros -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Estados Financieros
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" href=" ">
                                Estado de Resultados
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=" ">
                                Cambio Patrimonial
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=" ">
                                Balance General
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Menú Control de Costos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Control de Costos
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" href=" ">
                                Costo de Mano de Obra
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=" ">
                                Puestos de trabajo
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=" ">
                                Costos Indirectos
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=" ">
                                Método UCP
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href=" ">
                                Costo de Venta
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</div>
